<div id="elem-hide" style="display: block !important;">Target</div>
<div id="elem-hide-specific">Specific target</div>
<style>
#elem-hide-emulation-props {
  background-color: red;
}
</style>
<div id="elem-hide-emulation-props">Properties target</div>
<div><span id="elem-hide-emulation-has">Has target</span></div>
<div><span id="elem-hide-emulation-contain">elem-hide-emulation-contain-target</span></div>
<img id="elem-hide-img-request" src="image.png">
